/* Applique une image de fond à la section */
.s006 {
  padding: 20px;
  background: url('./pexels-mark-angelo-sampan-1587927.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* Style pour la section contenant le formulaire */
.form {
  max-width: 700px;
  margin: auto;
  background-color: rgba(65, 11, 86, 0.384); /* Violet semi-transparent */
  padding: 30px;
  border-radius: 15px;
}

legend {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.inner-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff49;
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(255 255 255 / 31%); /* Fond blanc pour les champs de saisie */
}

.input-field {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-field input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  margin-left: 10px;
  outline: none;
  background-color: #ffffff80; /* Fond blanc pour le champ de saisie */
  color: #6d1493; /* Texte violet pour le champ de saisie */
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: #6d1493;
  box-shadow: 0 0 5px rgba(109, 20, 147, 0.5); /* Violet lors du focus */
}

.btn-search {
  background: #6d1493;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-field input::placeholder {
  font-weight: 500;
  color: #5b0b7b66;

}

.btn-search:hover {
  background-color: #5c0b7b; /* Couleur légèrement plus sombre au survol */
}

.suggestion-wrap {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  background: rgb(255 255 255 / 31%); /* Fond semi-transparent pour les suggestions */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.suggestion-wrap a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff80;
  text-decoration: none;
  color: #6d1493; /* Couleur du texte des suggestions en violet */
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.suggestion-wrap a:hover {
  background-color: #f2f2f2; /* Couleur claire au survol des éléments */
}
