.navbarBackground{
    height: 120px;
    width: 100%;
    background: #6d1493;
}
.Title{
    overflow-wrap: break-word;
    padding-right: 10px;
}


@media (max-width:1000px) {

    .navbarBackground{
    height: 113px;
    width: 100%;
    background: #6d1493;
    margin-bottom: 20px;
}


}