
.price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;

}
.qrsize{
    width: 180px;
    height: 180px;
}
.contain{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(233, 232, 232, 0.37);
    padding-top: 2vw;
}
.image{
    height: 100%;
}
.desktop{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
select{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: transparent;
    margin: 10px;
    transition: 0.1s;
}
.description{
    height: 83%;
    width: 100%;
}
.cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#next{
    display: none;
}
.centeredbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}
h3{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0;
}
.filter{
    display: flex;
    color: rgb(89, 89, 89);
   }
   .mobile{
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media (max-width:900px) {
    .desktop{
        width: 100vw;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .mobile{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow-x: hidden;

    }
    .qrsize{
        width: 100px;
        height: 100px;
    }
    .LatestOffers{
        width: 100vw;
        margin: auto;
        height: fit-content;
        padding: 5vw 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-content: center;
        overflow-x: hidden;
    }
   h2{
    font-size: 25px;
   }
   
   .offer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
   }
   .filter{
    display: flex;
    flex-direction: column;
   }
}
@media(max-width:380px){
    .text{
        font-size: 12px;
       }
       .qrsize{
        width: 80px;
        height: 80px;
    }
}