.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.photoEventHeight{
  height: 22vw;
}
.soonestEventName{
  font-weight: bold;

}

.buyingBtn{
  background-color: #6d1493;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.1s;
}
.buyingBtn:hover{
  background-color: #4c0768;

}
.ma{
  margin: auto;
}


.Title{
  font-size: 35px;
  color: rgb(43, 43, 43);
  font-weight: 500;
  text-align: start;
  margin-top: 25px;
  padding-left: 20px;
}
.soonestEventBox{
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.soonestEventCard{
  margin: 10px 10px 3px 10px;
}
.categorieBox{
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
.categorieCard{
  margin: 10px;
}
.categoriesFont{
  color: #282828;
  font-size: 16px;
  font-weight: 500
}
.soonestEventFont{
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}
.categoriesContent{
  padding: 16px;
  margin: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 767px){
  .photoEventHeight{
    height: 45vw;
  }
  .soonestEventBox{
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
  .soonestEventCard{
    margin: 10px 10px 3px 10px;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    
  }
  .soonestEventFont{
    color: #727272;
    font-size: 16px;
    padding: 0;
    text-align: start;
  }
  .categorieBox{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: fit-content;
  }
  .categorieCard{
    margin: 10px 10px 3px 10px;
    height: 50px;
  }
  .categoriesFont{
    color: #282828;
    font-size: 16px;
    padding: 0;
  }
  
  .categoriesContent{
    padding: 7px;
    margin: auto;
  }
  .Title{
    font-size: 29px;
    color: rgb(43, 43, 43);
    font-weight: 700;
    text-align: start;
    margin-top: 25px;
    padding-left: 20px;
  }
}
